[[{{ .Name }}]]
.{{ humanizeTitle .Name }}
|===
| Name | Type | Example | Required | Comment
{{ range .AllOf }}{{ range .Properties }}
{{ template "schema" . }}
{{ end }}{{ end }}
{{ range .Properties }}
{{ if . }}{{ template "schema" . }}{{ end}}
{{ end }}
|===
