[[{{ .Name }}]]
.{{ humanizeTitle .Name }}
|===
| Property | Type | Required | Example | Description
{{ range .AllOf }}{{ range .Properties }}
{{ template "schema" . }}
{{ end }}{{ end }}
{{ range .Properties }}
{{ if . }}{{ template "schema" . }}{{ end}}
{{ end }}
|===
