{{- if .IsAliased -}}
  <<{{ .GoType }}>>
{{- else if .IsPrimitive -}}
  {{ .SwaggerType }}
{{- else if .IsArray -}}
  Array of {{ template "propertyType" .Items }}
{{- else if .IsComplexObject -}}
  <<{{ .GoType }}>>
{{- else -}}
Unknown: {{ .SwaggerType }}
{{- end -}}