| {{.Name}} 
| {{ template "propertyType" . }}
| {{ if .Example }}`{{ .Example }}`{{end}}
| {{ if .Required }}required{{ end }} 
| {{ .Description }} {{ if .Enum }}One of: {{ enumList .Enum }}{{end }}
